{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}  
    {{ title|upper }}
{% endblock %} 

{% block content %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Curriculum</th>
                <th>Resolución</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ evaluator.firstname }} </td>
                <td> {{ evaluator.lastname }} </td>
                {% if evaluator.curriculum.url != "" %}
                <td> <a href="{{ evaluator.curriculum.url }}">Curriculum</a></td>
                {% else %}
                <td>Curriculum</td>
                {% endif %}
                <td> <a href="{{ evaluator.fkresolution.document.url }}"> {{ evaluator.fkresolution.number }} </a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}