{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ view.title }}
{% endblock %}

{% block header %}  
    {{ view.title|upper }}
{% endblock %} 

{% block content %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Curriculum</th>
                <th>Resolución</th>
            </tr>
        </thead>
        <tbody>
            {% for ev in object_list %}
                <tr>
                    <td> {{ ev.fkevaluator.firstname }} </td>
                    <td> {{ ev.fkevaluator.lastname }} </td>
                    {% if ev.fkevaluator.curriculum.url != "" %}
                        <td> <a href="{{ ev.fkevaluator.curriculum.url }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></a></td>
                    {% else %}
                        <td><div class="btn btn-info btn-sm"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></div></td>
                    {% endif %}
                    <td> <a href="{{ ev.fkevaluator.fkresolution.document.url }}" class="btn btn-info btn-sm"> <span class="glyphicon glyphicon-file" aria-hidden="true"> {{ ev.fkevaluator.fkresolution.number }} </a></td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}