{% extends 'layout.html' %}
{% load careers_extras %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <table class="table table-condensed">
        <tbody>
        <tr class="warning">
            <th>Nro.</th>
            <th>Carrera</th>
            <th>Institución</th>
            <th>Sede</th>
            <th>Facultad</th>
            <th>Resolución</th>
            <th>Fecha</th>
            <th>Periodo de Acreditación</th>
        </tr>
        {% for c in careers %}
            <tr class="{% cycle 'success' 'active' %}">
                <td> {{ c.national }} </td>
                <td> {{ c.name }} </td>
                <td> {{ c.fkfaculty.fkuniversity }} </td>
                <td> {{ c.fkfaculty.fkcampus }} </td>
                <td> {{ c.fkfaculty.fkname }} </td>
                <td> {{ c.fkresolution.number }} </td>
                <td> {{ c.fkresolution.start_date }} </td>
                <td> {{ c.fkresolution.end_date }} </td>
            </tr>
        {% endfor%}
       <!--  <tr>
            <th colspan="8">
                <div class="pagination">
                <span class="setep-links">
                    {% if careers.has_previous %}
                        <a href="?page={{ careers.previous_page_number }}"><=</a>
                    {% endif %}
                    <span class="current">
                        Pagina {{ careers.number }} de {{ careers.paginator.num_pages }}
                    </span>
                    {% if careers.has_next %}
                        <a href="?page={{ careers.next_page_number }}">=></a>
                    {% endif %}
                </span>
                </div>
            </th>
        </tr> -->
        <tr>
            <th>
            <ul class="pagination"> 
                {% if careers.has_previous %}
                    <li><a href="?page={{ careers.previous_page_number }}">{{ careers.previous_page_number }}</a></li>
                {% endif %}
               <!--  <span class="current">
                    Pagina {# { careers.number } #} de {# { careers.paginator.num_pages } #}
                </span> -->
                {% if careers.has_next %}
                    <li><a href="?page={{ careers.next_page_number }}">{{ careers.next_page_number }}</a></li>
                {% endif %}
            </ul>
            </th>
        </tr>
        </tbody>
    </table>

{% endblock %}