{% extends 'layout.html' %}
{% load careers_extras %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <table class="table table-condensed">
        <tbody>
        <tr class="warning">
            <th>Nro.</th>
            <th>Carrera</th>
            <th>Institución</th>
            <th>Sede</th>
            <th>Facultad</th>
            <th>Resolución</th>
            <th>Fecha</th>
            <th>Periodo de Acreditación</th>
        </tr>
        {% for c in careers %}
            <tr class="{% cycle 'success' 'active' %}">
                <td> {{ c.national }} </td>
                <td> {{ c.name }} </td>
                <td> {{ c.fkfaculty.fkuniversity }} </td>
                <td> {{ c.fkfaculty.fkcampus }} </td>
                <td> {{ c.fkfaculty.fkname }} </td>
                <td> {{ c.fkresolution.number }} </td>
                <td> {{ c.fkresolution.start_date }} </td>
                <td> {{ c.fkresolution.end_date }} </td>
            </tr>
        {% endfor%}
        </tbody>
    </table>

{% endblock %}