{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th colspan="4"><a href="{% url 'evaluators:new' %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a> </th>
            </tr>
            <tr>
                <th>Edit</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Curriculum</th>
                <th>Resolución</th>
            </tr>
        </thead>
        <tbody>
            {% for ev in listEvaluator %}
                <tr>
                    <td> <a href="{% url 'evaluators:edit' ev.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                    <td> {{ ev.firstname }} </td>
                    <td> {{ ev.lastname }} </td>
                    {% if ev.curriculum.url != "" %}
                        <td> <a href="{{ ev.curriculum.url }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></a></td>
                    {% else %}
                        <td><div class="btn btn-info btn-sm"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></div></td>
                    {% endif %}
                    <td> <a href="{{ ev.fkresolution.document.url }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-file" aria-hidden="true"> {{ ev.fkresolution.number }} </a></td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}