{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo</th>
                <th>Curriculum</th>
                <th>Resolución</th>
            </tr>
        </thead>
        <tbody>
            {% for e in listEvaluator %}
                <tr>
                    <td> {{ e.fkevaluator.firstname }} </td>
                    <td> {{ e.fkevaluator.lastname }} </td>
                    <td> {{ e.fktypeevaluator.description }} </td>
                    <td> {{ e.fkevaluator.curriculum }} </td>
                    <td> {{ e.fkevaluator.fkresolution.document }} </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}