{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}  
    {{ title|upper }}
{% endblock %} 

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="search" class="col-sm-2">Busqueda por:</label>
            <div class="col-sm-6">
                {% render_field form.text class="form-control" %}
                <strong class="text-danger"> {{ form.text.errors }} </strong>
            </div>
            <div class="radio-inline">
                {% render_field form.options class="radio-inline" %}
                <strong class="text-danger"> {{ form.options.errors }} </strong>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="{% url 'evaluators:degree' %}" class="btn btn-primary">Limpiar</a>
    </form>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Carrera</th>
                <th>Curriculum</th>
                <th>Resolución</th>
            </tr>
        </thead>
        <tbody>
            {% for e in listEvaluator %}
                <tr>
                    <td> <a href="{% url 'evaluators:editType' e.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                    <td> {{ e.fkevaluator.firstname }} </td>
                    <td> {{ e.fkevaluator.lastname }} </td>
                    <td> {{ e.fknamecareer.description }} </td>
                    {% if e.fkevaluator.curriculum.url != "" %}
                        <td> <a href="{{ e.fkevaluator.curriculum.url }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></a></td>
                    {% else %}
                        <td><div class="btn btn-info btn-sm"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></div></td>
                    {% endif %}
                    <td> <a href="{{ e.fkevaluator.fkresolution.document.url }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-file" aria-hidden="true"> {{ e.fkevaluator.fkresolution.number }} </a></td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    <ul class="pagination pagination-sm"> 
        {% if listEvaluator.has_previous %}
            <li><a href="?page={{ listEvaluator.previous_page_number }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></a></li>
        {% endif %}
        {% for pg in listEvaluator.paginator.page_range %}
            {% if listEvaluator.number == pg %}
                <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
            {% else %}
                <li><a href="?page={{ pg }}">{{pg}}</a></li>
            {% endif %}
        {% endfor %}
        {% if listEvaluator.has_next %}
            <li><a href="?page={{ listEvaluator.next_page_number }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></a></li>
        {% endif %}
    </ul>
{% endblock %}