{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Carrera</th>
                <th>Curriculum</th>
                <th>Resolución</th>
            </tr>
        </thead>
        <tbody>
            {% for e in listEvaluator %}
                <tr>
                    <td> {{ e.fkevaluator.firstname }} </td>
                    <td> {{ e.fkevaluator.lastname }} </td>
                    <td> {{ e.fknamecareer.description }} </td>
                    {% if e.fkevaluator.curriculum.url != "" %}
                        <td> <a href="{{ e.fkevaluator.curriculum.url }}">Curriculum</a></td>
                    {% else %}
                        <td>Curriculum</td>
                    {% endif %}
                    <td> <a href="{{ e.fkevaluator.fkresolution.document.url }}"> {{ e.fkevaluator.fkresolution.number }} </a></td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}