<!DOCTYPE html>
<html lang="es">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=divice-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title> {% block title %}  {% endblock %} </title>
</head>
<body>
	<section class="container">
		<header>
			<div class="page-header">
				<h4> {% block header %}  {% endblock %} </h4>
			</div>
			{% if user.is_authenticated %}
			<nav class="navbar navbar-inverse" role="navigation">
			  <!-- El logotipo y el icono que despliega el menú se agrupan
			       para mostrarlos mejor en los dispositivos móviles -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse"
			            data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Desplegar navegación</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="{% url 'userprofiles:dashboard' %}">Inicio</a>
			  </div>
			 
			  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
			       otro elemento que se pueda ocultar al minimizar la barra -->
			  <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          Pares Evaluadores <b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'evaluators:degree' %}">Grado</a></li>
			          <li><a href="{% url 'evaluators:institutional' %}">Institucional</a></li>
			          <li><a href="{% url 'evaluators:evaluator' %}">Todos</a></li>
			          <li class="divider"></li>
			          <li><a href="{% url 'evaluators:new' %}">Agregar</a></li>
			        </ul>
			      </li>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          Tipo <b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'evaluators:newtype' %}">Agregar</a></li>
			        </ul>
			      </li>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          Carreras <b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'namecareers:list' %}">Listar</a></li>
			          <li><a href="{% url 'namecareers:new' %}">Agregar</a></li>
			        </ul>
			      </li>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          Resoluciones <b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'resolutions:list' %}">Listar</a></li>
			          <li><a href="{% url 'resolutions:new' %}">Agregar</a></li>
			        </ul>
			      </li>
			    </ul>

			    <ul class="nav navbar-nav navbar-right">
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          Logout <b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'userprofiles:logout' %}">{{ user.username }}</a></li>
			        </ul>
			      </li>
			    </ul>
			  </div>
			</nav>
			{% endif %}
		</header>

		{% block content %} {% endblock %}
	</section>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/acreditation.js' %}"></script>
	
</body>
</html>